<?xml version="1.0"?>
<robot name="table">
  <link name="base_link">
    <inertial>
      <mass value="0.25" />
      <origin xyz="0 0 0" />
      <inertia  ixx="0.0002" ixy="0.0"  ixz="0.0"  iyy="0.0002"  iyz="0.0"
      izz="0.0002" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="/meshes/table.obj"/>
      </geometry>
    </visual>
    <collision>
        <origin xyz="0.2 0 0.775" />
      <geometry>
        <box size="1.2 1.0 0.05"/>
      </geometry>
    </collision>
  </link>

</robot>
